<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin page</title>
</head>
<body>
    <h1> hello {{ user.username }} your role is Admin</h1>

    <table class="table table-striped table-bordered table-sm">  
        <thead class="thead-dark">  
        <tr>  
            <th>Vehicle Number</th>  
            <th>Vehicle Type</th>  
            <th>Model</th>  
            <th>Desription</th>  
            <th>Actions</th>  
        </tr>  
        </thead>  

        <tbody>  
        {% for data in dataset %}  
            <tr>  
                <td>{{ data.vehicle_number }}</td>  
                <td>{{ data.vehicle_type }}</td>  
                <td>{{ data.vehicle_model }}</td>  
                <td>{{ data.vehicle_description }}</td>  
                <td>  
                    <a href="{% url 'user_read' data.id %}">View</a>  
                    <a href="{% url 'update' data.id %}">Update</a>  
                </td>  
            </tr>  
        {% endfor %}
        </tbody>

    </table>  
    <br>  
    <br>  
</body>
</html>