<!DOCTYPE html>
<html lang="en">
    
<head>
    <meta charset="UTF-8">
    <title>Admin page</title>
</head>
{%  include 'base.html' %}

<body>
    <div class="col-md-12">
        <div class="card card-body">
            
            <table class="table table-sm">
                <tr>
                    <th>Vehicle Number</th>  
                    <th>Vehicle Type</th>  
                    <th>Model</th>  
                    <th>Desription</th>  
                    <th>Update</th>
                </tr>
    
                {% for data in dataset %}  
                <tr>  
                    <td>{{ data.vehicle_number }}</td>  
                    <td>{{ data.vehicle_type }}</td>  
                    <td>{{ data.vehicle_model }}</td>  
                    <td>{{ data.vehicle_description }}</td>  
    
                        <td><a class="btn btn-sm btn-info" href="{% url 'vehicle:update' data.id %}">Edit <i class="fas fa-edit"></i></a></td>
    
                    </tr>
                {% endfor %}
    
        
            </table>
        </div>
    </div>
    
    </div>
    

</body>
</html>